<div class="my-container">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 left-box">
        <div class="banner-content">
          <h1>Connectez-vous au vent!</h1>
          <h3>L'éolienne de 600W prête à l'emploi.</h3>
          <h3>sans <span id='banner-typed-text'></span></h3>
        </div>
        <div class="description">
          <div class="description-content">
            <div class="description-text">
              <h5>Branchez</h5>
              <p>sur une prise 220V</p>
            </div>
            <i class="fas fa-plug"></i>
          </div>
          <div class="description-content">
            <div class="description-text">
              <h5>Customisez</h5>
              <p>selon vos envies</p>
            </div>
            <i class="fas fa-paint-roller"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 right-box">
        <div class='overflow-wrap'>
          <div class='video' style="overflow:hidden">
            <%= video_tag "wheat.mp4", controls: false, autoplay: true, muted:
            true, loop: true, id: 'bgvideobg', class: 'bkrg-video', type: "video/mp4", crop: :fill %>
          </div>
        </div>
      </div>
      <div class="no-overflow img-fluid" style="overflow:visible">
        <%= image_tag "eol-banner.png", class: "image-eolienne img-fluid" %>
      </div>
  </div>

  <div class="my-container">
    <div class="row">
      <div class="col-12 third-box">
        <a href="#eoliennes" class="whole-pack">
          <i class="fas fa-chevron-down arrow bounce"></i>
          <p>Découvrez nos produits</p>
        </a>
      </div>
    </div>
  </div>

  <div class="product-container" id="eoliennes">
    <div class="row">
      <div class="col">
        <div class='product-header'><h2>Choisissez votre pack</h2></div>
      </div>
    </div>



    <div class="row">
      <div class="col-12">
          <div class='product-box'>
            <% @eoliennes.each do |eolienne| %>
              <%= link_to eolienne_path(eolienne) do %>
                <div class="slide-in">
                  <div class="box">
                    <span class="original">
                      <%= image_tag(eolienne.photo, height: 'auto', width: '270', class: 'img-card img-fluid') %>
                    </span>
                    <div class="overlay">
                      <h2><%= eolienne.name %></h2>
                      <h5><%= eolienne.description %></h5>
                      <h6><%= eolienne.price %>€</h6>
                    </div>
                  </div>
                </div>
                <h2 class='card-title'><%= eolienne.name %></h2>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
