<div class="my-container">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 left-eol">
        <div class="eolienne-box img-fluid">
          <%= image_tag(@eolienne.photo, class: 'thissticky img-fluid') %>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 right-eol">
        <div class="eolienne-title">
          <h1><%= @eolienne.name %> - <%= @eolienne.price %>€</h1>
        </div>
        <div class="eolienne-description">
          <div class="eol-content">
            <div class="eol-text">
              <div class='small-title'><h5>Le saviez-vous ?</h5></div>
              <p>
                La puissance d'une éolienne (en kW, kilowatts) mesure sa 
                capacité de production d'électricité. C'est une caractéristique
                technique qui ne dépend que de l’éolienne en elle-même, et
                <strong>non de l'endroit où elle est posée</strong>. Autrement
                dit, une éolienne de 1 kW de puissance ne pourra pas fournir
                plus d’énergie en 1 heure qu\'1 kWh même si elle est alimentée
                en vent par un ouragan. Elle a l'avantage de fonctionner <strong>
                sans avoir besoin de vent fort</strong>. Elle fonctionne également
                sur <strong>360°</strong>, c’est-à-dire quelque soit l’axe du vent.
              </p>
            </div>
          </div>
          <div class="eol-content">
            <div class="eol-text">
              <div class='small-title'><h5>Fiche technique</h5></div>
              <div class="eol-list">
                <ul class='col-12 list-1'>
                  <li><strong>Hauteur : </strong><%= @eolienne.height %></li>
                  <li><strong>Largeur : </strong><%= @eolienne.width %></li>
                  <li><strong>Poids : </strong><%= @eolienne.weight %></li>
                  <li><strong>Taille de voile : </strong><%= @eolienne.size %></li>
                  <li><strong>Puissance : </strong><%= @eolienne.engine %></li>
                </ul>
                <ul class='col-12 list-2'>
                  <li><strong>Pied : </strong><%= @eolienne.base %></li>
                  <li><strong> Matériaux : </strong><%= @eolienne.product %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="eol-content">
            <div class="eol-text">
              <div class='small-title'><h5>Capacité de production</h5></div>
              <p>Il faut un <strong>minimum de 15km/h</strong> de vent pour que l'éolienne produise du 220v.
                L'éolienne produit maximum 600w.
                Et elle produit le courant pour le frigo, les éclairages, la télé, les appareils de recharge....
                Comme avec les capteurs solaires, si pas de soleil pas de production. Donc pas de vent = pas de production.
                Pour résumer, une éolienne peut produire <strong>1/3 de la consommation annuelle d'une maison</strong>.
              </p>
              <h5>L’avantage de l’éolienne : le stockage</h5>
                <p>
                  L’avantage de l’éolienne, c’est que l’électricité que vous
                  produisez peut être <strong>stockée</strong>. En effet, vous n’utilisez pas
                  toujours l’électricité au moment exact où elle est produite
                  par votre éolienne domestique. Votre petit éolien est relié à
                  des batteries qui peuvent seulement <strong>stocker et redistribuer du
                  courant continu</strong>. Un régulateur avec redresseur est ainsi placé
                  entre l’éolienne domestique et les batteries. Un onduleur est
                  installé après les batteries et avant votre maison pour
                  <strong>transformer le courant continu en courant alternatif</strong>.
                </p>
            </div>
          </div>
        </div>
        <br>
        <div class="button-location">
          <button class="button-eol">acheter</button>
          <button class="button-eol">customiser</button>
        </div>
      </div>
  </div>
