<div class="my-container">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 left-box">
        <div class="banner-content">
          <h1>Connectez-vous au vent!</h1>
          <h3>L'éolienne de 600W prête à l'emploi.</h3>
          <h3>sans <span id='banner-typed-text'></span></h3>
        </div>
        <div class="description">
          <div class="description-content">
            <div class="description-text">
              <h5>Branchez</h5>
              <p>sur une prise 220V</p>
            </div>
            <i class="fas fa-plug"></i>
          </div>
          <div class="description-content">
            <div class="description-text">
              <h5>Customisez</h5>
              <p>selon vos envies</p>
            </div>
            <i class="fas fa-paint-roller"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 right-box">
        <%= image_tag "eol-banner.png", class: "image-eolienne img-fluid" %>
      </div>
  </div>

  <div class="my-container">
    <div class="row">
      <div class="col-12 third-box">
        <a href="#eoliennes" class="whole-pack">
          <i class="fas fa-chevron-down arrow bounce"></i>
          <p>Découvrez nos produits</p>
        </a>
      </div>
    </div>
  </div>

  <div class="my-container">
    <div class="row">
      <div class="col">
        <div class='product-header'><h2>Choisissez votre pack</h2></div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-3">
          <div class='product-box'>
            <% @eoliennes.each do |eolienne| %>
              <div class='each-card' id="eoliennes">
                <div class='card-img'>
                  <%= image_tag(eolienne.photo, height: 'auto', width: '270', class: 'img-fluid') %>
                </div>
                <div class='card-text'>
                  <h3><%= eolienne.name %></h3>
                  <p><%= eolienne.description %></p>
                  <div class='price-tag'><p><%= eolienne.price %>€</p></div>
                </div>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>






